     <div class="main" ng-controller="ProfileController">

      <div class="periscope">
      
          <h1 class="trailname"><img class="profilephoto" src="{{user.photo}}"></h1>
      </div>
      <div class="bendychairactive clearfix">

          <div class="sidebar">
            <ul><li>{{user.name}}</li>
             <li>Hiked: {{distance.toFixed(1)}} Miles</li>
             <li>Ranked (2)</li>
             <li>Ave Rating: 8.6</li>
             <li ng-click="changeBookmarkView('added')" class="seeadded">{{user.trails.length}} Added <i class="fa fa-upload blue"></i></li>
             <li ng-click="changeBookmarkView('completed')" class="seecompleted">{{(user.bookmarks|filter: {completed:true}).length}} Completed <i class="fa fa-check circle green"></i></li>
             <li ng-click="changeBookmarkView('faved')" class="seefaved current">{{(user.bookmarks|filter: {favourited:true}).length}} Favourited <i class="fa fa-heart red"></i></li>
          </ul>
                  

              </div>
              <div class="usercontent">

<div class="profile_trailphotos column-100" ng-show="bookmarkchoice == 'showfaved'">

          <div class="userbit column-100">Favourited</div>
          <div class="eachphoto column-32" ng-repeat="fav in user.bookmarks |filter: {favourited:true}"><a ng-href="#trails/{{fav.trail.id}}"><img ng-src="{{fav.trail.photos[0].image.detail.url}}"></a>
            <div class="little_photofooter">
              <span class="little_photofooter_left" >{{fav.trail.name}}</span>   
              <div class="little_photofooter_right">
     <!--            <ul>
                  <li><i class="fa fa-heart-o"></i></li>
                  <li><i class="fa fa-check circle"></i></li>
                </ul> -->
              </div> <!-- close of footerright-->
            </div><!-- close of photofooter-->
          </div><!-- close of eachphoto -->
        
        </div><!-- close of profile_trailphotos-->      
        

  <div class="profile_trailphotos column-100" ng-show="bookmarkchoice == 'showcompleted'">
    <div class="userbit column-100">Trails completed by {{user.name}}</div>
    <div class="eachphoto column-32" ng-repeat="completed in user.bookmarks |filter: {completed:true}"><a ng-href="#trails/{{completed.trail.id}}"><img ng-src="{{completed.trail.photos[0].image.detail.url}}"></a>
      <div class="little_photofooter">
        <span class="little_photofooter_left" >{{completed.trail.name}}</span>   
        <div class="little_photofooter_right">
   <!--        <ul>
            <li><i class="fa fa-heart-o"></i></li>
            <li><i class="fa fa-check circle"></i></li>
          </ul> -->
        </div> <!-- close of footerright-->
      </div><!-- close of photofooter-->
    </div>

  </div><!-- close of profile_trailphotos-->

  <div class="profile_trailphotos column-100" ng-show="bookmarkchoice == 'showadded'">
    <div class="userbit column-100">Trails added by {{user.name}}</div>
    <div class="eachphoto column-32" ng-repeat="trail in user.trails"><a ng-href="#trails/{{trail.id}}"><img ng-src="{{trail.photos[0].image.detail.url}}"></a>
      <div class="little_photofooter">
        <span class="little_photofooter_left" >{{trail.name}}</span>   
        <div class="little_photofooter_right">
    <!--       <ul>
            <li><i class="fa fa-heart-o"></i></li>
            <li><i class="fa fa-check circle"></i></li>
          </ul> -->
        </div> <!-- close of footerright-->
      </div><!-- close of photofooter-->
    </div>

  </div><!-- close of profile_trailphotos-->

             </div>

         </div>
         <div class="footeractive">

           <div class="big">scen.ic</div>

           <div class="footerlinks column-100">
             <ul class="column-75">
              <li><a href="#new">Add New</a></li><li><a href="#map">Map</a></li><li><a class="active" href="#trails">Trails</a></li><li><a href="#profile">Profile</a></li></ul></div>
              <div class="whoami column-32">
               garethrobertlee@gmail.com<br>
               www.salterhebble.com
             </div>
             <div class="whoami column-32">
               made in todmorden and honley, 2014
             </div>

             <ul class="socials">
               <a class="lowerlink" href="http://www.twitter.com/crcvch"><i class="fa fa-twitter fa-2x"></i></a>
               <a class="lowerlink" href="https://github.com/cerico"><i class="fa fa-github fa-2x"></i></a>
               <a class="lowerlink" href="https://www.linkedin.com/in/garethrobertlee"><i class="fa fa-linkedin fa-2x"></i></a>
               <a class="lowerlink" href="https://soundcloud.com/crcvch"><i class="fa fa-soundcloud fa-2x"></i></a>
             </ul>
           </div>
         </div>
          </div>