    <div class="intro">
      <div class="mainloginbox">
        <div class="login loginfirst">
          <a class="splashtitle" href="#trails">scen.ic</a>
        </div>
        <div class="login">
          <%= link_to "sign in", user_omniauth_authorize_path(:google_oauth2)%>
          <a href="trailsindex.html"><img class="socialsignin" src="assets/google.png"/></a>
        </div>

        <div class="login">
          <a href="trailsindex.html"><img class="socialsignin" src="assets/twitter.png"/></a>
        </div>

        <div class="login">
          <a href="trailsindex.html"><img class="socialsignin" src="assets/facebook.png"/></a>
        </div>
        <div class="login loginlast">
          <ul>
            <li><a class="splashlinks" href="/#trails">trails    </a></li> 
            <li><a class="splashlinks" href="/#map">map</a></li>
          </ul>
      </div>

</div>