<div class="main">







  <div class="periscope" >
    <h1 class="trailname" >{{trail.name}}</h1>
    <div class="periedit" ng-show="administrating" >
       <form  class="trailedit" ng-submit="editname()">
      <input type="text" placeholder="{{trail.name}}" ng-model="newtrailname"  size="30">
      <input class="edit" type="submit" value="edit name">
      </form>
        <div class="editphotos"><a href="" ng-click="scrollTo('editphotos')">edit photos</a></div>
        <div  class="editlocation"><a href="" ng-click="scrollTo('editmap')">edit location</a></div>
        <div  class="editgpx" ng-click="deletegpx()" ng-show="ifgpx">delete gpx</div>
    </div>
  </div>
  


  <div class="bendychairactive clearfix">

    <div class="sidebar">
      <ul>
        <li class="admin" ng-show="trailowner" ng-click="administrateview('start')">Click to Admin</li>
        <li class="admin2" ng-show="administrating" ng-click="administrateview('finish')">done editing</li>

      <!--   <li class="admin" ng-show="administrating" a scroll-to="editphotos">edit Photos</a></li> -->
        <li><a class="current" href="#">{{ trail.distance}} Miles</a></li><li><a href="#">Ave Rating: {{trailrating}} {{ratedby}} </a></li><li><a href="#">Ranking (4)</a></li>
             <li >{{(trail.bookmarks|filter: {favourited:true}).length}} Hikers <i class="fa fa-heart red"></i></li>
        <li ng-click="showCompleteds()">{{(trail.bookmarks|filter: {completed:true}).length}}  Hikers <i class="fa fa-check circle green"></i></a></li>
        <li ng-show="goodStrongHikers" class="current" ng-repeat="hikercompleted in trail.completeds"><a ng-href="#/users/{{hikercompleted.id}}"><img class="profilephoto" ng-src={{hikercompleted.photo}}>{{hikercompleted.name}}</a></li>
     

      </ul>
        

     
      </div>
      <div class="trailcontent">


        <div class="trailcontainer column-100" >
          <div class="wrapper clearfix">
<div class="spinner" ng-show="loading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
         
 <!--            <div class="mainphoto column-100" ng-repeat="photo in trail.photos|filter: {name:'main'}" ng-class="whenready">
              <img class="trailphoto column-100" ng-src="{{photo.image.trailpage.url}}"> -->
            <div class="mainphoto column-100"  ng-class="whenready">
              <img class="trailphoto column-100" ng-src="{{trail.mainphoto.image.trailpage.url}}">
              <div class="individual_trail_photofooter">
                <span class="individual_trail_photofooter_left" >{{ trail.name }}</span>   
                <div class="individual_trail_photofooter_right">
                  <ul>
                    <li class="uploadedby"><a ng-href="#/users/{{trail.user_id}}"><img class="userphoto" ng-src="{{trail.user.photo}}"></li>
                    <li class="uploadedby2">{{trail.user.name.split(" ")[0]}}</a> </li>
                  </ul>
                </div> <!--close of footerright-->
                <div class="individual_trail_photofooter_mid">
                  <ul>                  
                      <li ng-show="favstate == 'faved'"><i ng-click="addFav('unfavit')" class="fa fa-heart red"></i></li>
                      <li ng-show="favstate == 'notfaved'"><i ng-click="addFav('favit')" class="fa fa-heart-o un"></i></li>
                      <li ng-show="compstate == 'completed'"><i ng-click="addFav('undoneit')" class="fa fa-check circle green"></i></li>
                      <li ng-show="compstate == 'notcompleted'"><i ng-click="addFav('doneit')" class="fa fa-check circle un"></i></li>
                  </ul>
                </div> <!-- close of footermid-->
                <div class="individual_trail_photofooter_mid star">
        <i ng-repeat="star in stars" ng-class="{true: 'fa fa-star un', false: 'fa fa-star starred'}[star.grey]" ng-click="rateTrail(star.index)"></i>
              </div>
              </div><!-- close of photofooter-->

            </div> <!--close of mainphoto-->
                 <div id="editmap">
              <div class="supplylocation" ng-show="makeFirstPic">click map to enter primary location</div>
              <div class="editingmap" ng-show="makeFirstPic" ng-click="editmap()">Save Location</div>
            </div>
         <div id="map_canvas" class="thetrailmap" ng-if="map.visible">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds='map.bounds' class="thetrailmap" control='map' events="map.events">
            <ui-gmap-markers models="map.Markers" coords="'self'" icon="'icon'" >
            <ui-gmap-polyline path="map.polylineSteps" static="true"></ui-gmap-polyline>
          </ui-gmap-markers></ui-gmap-google-map>
 
                </div>

</div>


</div>




            <div class="morephotos column-100">
            <div id="editphotos"></div>
              <div ng-repeat="photo in trail.photos" class="extraphoto column-25">
              <span photo class="makemain" ng-show="makeFirstPic" ng-click="makeMain(photo)">Make Main Photo</span>
                <i ng-show="deletePic" ng-click="deletePhoto(photo)" class="fa fa-times fa-2x"></i>
                  <a class="fancybox" rel="group" href="{{photo.image.wide.url}}"><img ng-src="{{photo.image.detail.url}}"></a>
              </div>
             
              

              
             

           


            </div><!-- close of morephotos-->

            <div>

           
            </div> 
            <!-- <div ng-if="!auth.isLoggedIn">hi</div> -->
            <div ng-if="auth.isLoggedIn" class="moreinfo column-100">Add more photos by clicking on, or dragging to, the area below</div>

              <form 
                  class="dropzone column-50" 
                  
                  id="media-dropzone"  
                  enctype="multipart/form-data">
                  <!-- <input name="authenticity_token" value="ig1U0Er7VHUTdw5bxtcVRyjDs+4d2o79p8lg94fPaBk=" type="hidden"> -->
     <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"> -->
            </form>
            

  
          </div><!-- close of wrapper clearfix-->
        </div><!--close of trailcontainer column-75--> 

      </div>

    </div>
    <div class="footeractive">


     <div class="big">scen.ic</div>

     <div class="footerlinks column-100">
       <ul class="column-75">
        <li><a href="/#new">Add New</a></li><li><a href="/#map">Map</a></li><li><a class="active" href="/#trails">Trails</a></li><li><a href="profile.html">Profile</a></li></ul></div>
        <div class="whoami column-32">
         garethrobertlee@gmail.com<br>
         www.salterhebble.com
       </div>
       <div class="whoami column-32">
         made in todmorden and honley, 2014
       </div>

       <ul class="socials">
         <a class="lowerlink" href="http://www.twitter.com/crcvch"><i class="fa fa-twitter fa-2x"></i></a>
         <a class="lowerlink" href="https://github.com/cerico"><i class="fa fa-github fa-2x"></i></a>
         <a class="lowerlink" href="https://www.linkedin.com/in/garethrobertlee"><i class="fa fa-linkedin fa-2x"></i></a>
         <a class="lowerlink" href="https://soundcloud.com/crcvch"><i class="fa fa-soundcloud fa-2x"></i></a>
       </ul>
     </div>
   </div>

  
